doctype html
html
  head
    meta(charset='utf-8')
    //if IE
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='shortcut icon', href='favicon.ico')
    title L.S
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,100,700%7Dosis:400,500', rel='stylesheet')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/et-line.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/owl.carousel.css', rel='stylesheet')
    link(href='/css/magnific-popup.css', rel='stylesheet')
    link(href='/css/vertical.min.css', rel='stylesheet')
    link(href='/css/style.changer.css', rel='stylesheet')
    link#theme(href='/css/theme/theme-red-2.css', rel='stylesheet')
  body.appear-animate
    #top
    nav.main-nav.white.transparent.stick-fixed
      .full-wrapper.relative.clearfix
        // Logo ( paste you text or image)
        .nav-logo-wrap
          a.logo(href='/')
            | L.
            span.higl S
        .navbar-mobile
          i.fa.fa-bars
        // Main Menu
        .inner-nav.navbar-desktop
          ul.clearlist.scroll.scroll-nav
            li
              a(target="_blank", href='http://github.com/scluckas') Github
            li
              a(target="_blank", href='https://fr.linkedin.com/in/scariotlucas') LinkedIn
            li
              a(target="_blank", href='mailto:lscariot@student.42.fr') Contact
    // Start section hero
    section#hero.full-screen
      // Parallax image
      #particle-ground.parallax.parallax-hero.full-screen.bg-dark-50(data-background='img/background.jpg', data-top='transform: translate3d(0px, 0px, 0px)', data-top-bottom='transform: translate3d(0px, -200px, 0px)', data-anchor-target='#hero')
      .hero-content
        .hero-content-inner
          //.hs-line-2.wow.fadeInDown(data-wow-delay='0.5s', data-wow-duration='3s') Hello !
          h1.hs-line-1.wow.fadeIn(data-wow-delay='0.5s', data-wow-duration='3s') Hello World !
      //a.btn-scroll-down.scroll(href='#page', data-start='display: block', data-100-start='display: none')
    // JS sctipts
    script(src='/js/vendor/jquery-2.1.3.min.js')
    script(src='/js/plagins.js')
    script(src='/js/owl.carousel.min.js')
    script(src='/js/isotope.pkgd.min.js')
    script(src='/js/gmap3.min.js')
    script(src='/js/jquery.magnific-popup.min.js')
    script(src='/js/jquery.fitvids.js')
    script(src='/js/main.js')
    script(src='/js/jquery.ajaxchimp.min.js')
    script(src='/js/contact-form.js')
    //if lt IE 10
      script(type='text/javascript', src='/js/placeholder.js')
    script(src='/js/jquery.particleground.min.js')
